@charset "UTF-8";

:root {
    --libertadores: #05fe162b;
    --pre-libertadores: #f6ff002b;
    --sula: #7fa5ff62;
    --rebaixados: #a52a2a38;
    --corprincipa: #1e90ff;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: blue;
    padding: 10px;
}

header > h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.493);
    color: white;
    text-align: center;
    margin: 10px;
    padding:10px;
}

div {
    overflow-x: auto;
   
}

table {
    width: 500px;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.986);

}

caption {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

th,td {
    font-size: 1.1em;
    border: 1px solid black;
    padding: 7px;
}

td > img {
    width: 15px;
}

.libertadores {
    background-color: var(--libertadores);
}

.pre{
    background-color: var(--pre-libertadores);
}

.sula {
    background-color: var(--sula);
}

.rebaixados {
    background-color: var(--rebaixados);
}

section {
    text-align: center;
    margin: 10px;
   
}
section > p {
    padding: 10px;
}

aside {
    margin: 10px;
    background-color:var(--corprincipa) ;
    text-align: center;
    border-radius: 10px;
}

aside p {
    padding: 10px;
    color: white;
}

aside > p > a {
    color: white;
}

aside:hover {
    background-color: blue;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 10px;
}

footer > p {
    padding: 5px;
}