@charset "UTF -8";

/* Estilo para telas*/
/* Mobile first */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    overflow-x: hidden;
    width: 98vw;
}

body {
    overflow-x: hidden;
    position: relative;
}

body > header {
    background: blue url(../imagens/imagem-code.webp) center center / cover no-repeat;
   /* 
    Acima usei uma short-hand
    background-color: rgba(0, 0, 255, 0.571);
    background-image: url(../imagens/imagem-code.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    */
    height: 450px;
    margin-bottom: 20px;
    
}

header > #container {
    position: absolute;
    top: 50px;
    right: 70px;
}

header #itens {
    display: none;
}

header > #container > #menu-icone {
    position: fixed;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    color: white;
    
}

header > #itens {
    display: block;
    position: fixed;
    left: -500px;
    transition: .7s linear;
    z-index: 4;
    height: 700px;
}

header > #itens nav p {
    font-size: 2em;
}

header > #itens > nav > ul > li {
    padding: 15px;
    text-align: left;
}

header > #itens > nav > ul > li > a:hover  {
    padding: 10px;
    background-color: red;

}


header menu nav   {
    text-align: center;
    padding: 5px;
    width: 80vw;
    height: 600px;
    background-color: rgb(113, 113, 251);
    color: white;
    border-radius: 0px 10px 10px 0px ;
}

header > menu > nav > p {
    font-variant: small-caps;
}

header > menu > nav > ul > li > a {
    font-size: 1em;
}

header > menu > nav > .foto-sociais > a > img {
    padding: 5px;
    width: 45px;
    border-radius: 50%;
}

header menu nav .foto-menu {
    width: 90px;
    border-radius: 50%;
    padding: 10px;
}


header > menu > nav > ul > li  {
    padding: 5px;
}



body > header > h1 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
    padding: 10px;
    font-variant: small-caps;
    text-align: right;
    color:white;
    text-align: center;
}

body > header > div > img {
    width: 300px;
    
}



.telas {
    display: none;
    background-color: #0000ffb0;
    text-align: center;
    padding: 10px;
    height: 70px;

}

.telas ul   {
    padding-right: 10px;
    list-style-type: none;
}

.telas ul li {
    line-height: 2.3em;
    display: inline-block;

}

.telas ul li a {
    text-shadow: 5px 5px 5px black;
    font-weight: bolder;
    padding: 10px;
    color: white;
    font-size: 1.1em;
    margin-bottom: 10px;
    cursor: pointer;
}

.telas ul li a:hover {
    background-color: red;
    border-radius: 15px;
}


main {
    margin: auto;
    padding: 10px;
}

main > h2 {
    text-align: center;
    margin: 10px;
    padding:10px;
}

main > p {
    line-height: 1.6em;
    text-align: justify;
    text-indent: 20px;
}

body > main > img {
    position: relative;
    margin: 30px;
    height: 300px;
    filter: drop-shadow(0 0 2em #0000ff);
    z-index: -1;
}

.img {

    background-color: white;
    background-image: url(../imagens/jonhy-body.png);
    background-position: center right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    width: 100vw;
    border: none;
    
}

.img2 {
    position: relative;
    background-image: url(../imagens/guimaraes-modas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    width: 100vw;
    border: none;
    filter: drop-shadow(0 0 2em #ff1493);
    z-index: -1;
    
}

main > div {
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
}


main > div,h3,p,input {
    text-align: center;
    padding: 5px;
}

main > div > input {
    margin: auto;
    width: 180px;
    border-radius: 10px;
    background-color: #1e90ff;
    color: white;
}



section {
    background-color: rgba(0, 0, 255, 0.849);
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
    
}

section > h2 {
    margin: 10px;
}

section > h3,p {
    padding: 10px;
    text-align: center;
}

aside {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

aside > ul > li {
    text-align: justify;
    margin: 5px;

}

a {
    text-decoration: none;
    color: white;
}

main aside ul li a:hover {
    background-color: rgba(255, 0, 0, 0.48);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

body > img {
    position: relative;
    margin-left: 100px;
    
    height: 200px;
    z-index: -1;
    filter: drop-shadow(0 0 2em #0000ff);
}

main > section > a > img {
    width: 300px;
}

footer {
    background-color: #0000ff;
    color: white;
    margin-bottom: 20px;
}

footer > p {
    padding: 5px;
    text-align: center;

}

#caixa-logo {
    background-color: #fff;
    filter: none;
    border: none;
    color: black;
    
}

#caixa-logo :mth-child(2){
    transition-delay: 400ms;
}
#caixa-logo :mth-child(3){
    transition-delay: 700ms;
}
#caixa-logo :mth-child(4){
    transition-delay: 1000ms;
}


#video{
    height: 70px;
}

#logo{

    height: 70px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
    margin-bottom: 30px;
}

.logo-jonhyflix {
   height: 40px;
}

body section img.net {
    height: 140px;
}





@media  screen and (min-width:603px) and (max-width: 992px) {

    html {
        width: 100vw;
        height: 100vh;
    }

    header  #itens{
        
        display: none;
    }
    
    body > header {
        width: 90vw;
    }

    header > #container > #menu-icone,#itens {
        display: none;
        position: absolute;
    }

    .telas {
        display: block;
    }
    body > header > div > img {
        width: 300px;
    }

    main {
        margin: auto;
        width: 80vw;
        
    }

    main > p {
        font-size: 1.5em;
    }

    main > h2 {
        text-align: center;
    }

    .img2 {
        width: 90vw;
    }
}

@media  screen and (min-width: 993px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    header  #itens{
        
        display: none;
    }

    header > #container > #menu-icone,#itens {
        display: none;
        position: absolute;
    }

    .telas {
        display: block;
    }

    body > header > div > img {
        width: 300px;
    }

    main {
        border: 1px solid blue;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 600px;
    }

    header {
        width: 80vw;
    }

    .img,.img2 {
        width: 100vw;
    }



    

    footer {
        display: none;
    }
    
}



@media screen and (min-width: 1025px) and (max-width:1440px) {
    body {
        overflow-x: hidden;
    }
    header  #itens{
        
        display: none;
    }

    header > #container #menu-icone,#itens {
        display: none;
        position: absolute;
    }

    .telas {
        display: block;
    }

    body > header > div > img {
        width: 300px;
    }

    main {
        border: 1px solid blue;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 600px;
    }

    header {
        width: 100vw;
    }

    .img {
        width: 500px;
        background-size: auto;
        background-position: center center;
    }

    .img2 {
        width: 100vw;
        background-position: center center;
    }

    
}

@media screen and (min-width: 1441px) {
    body {
        overflow-x: hidden;
        background-color: rgba(134, 134, 250, 0.121);
    }

    header  #itens{
        
        display: none;
    }

    header > #container > #menu-icone,#itens {
        display: none;
        position: absolute;
    }

    .telas {
        display: block;
    }

    body > header > div > img {
        width: 300px;
    }

    main {
        border: 1px solid rgb(56, 56, 253);
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 900px;
    }

    main > header {
        width: 500px;
    }

    .img {
        width: 870px;
        background-size: auto;
        background-position: center center;
    }

    .img2 {
        width: 90vw;
        
    }

    body > img {
        margin-left: 1300px;
    }

    footer {
        width: 100vw;
    }
    
}
    


