@charset "UTF -8";

/* Estilo para telas*/
/* Mobile first */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    overflow-x: hidden;
    width: 98vw;
}

body {
    overflow-x: hidden;
}

body > header {
    background: blue url(../imagens/imagem-code.webp) center center / cover no-repeat;
   /* 
    Acima usei uma short-hand
    background-color: rgba(0, 0, 255, 0.571);
    background-image: url(../imagens/imagem-code.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    */
    height: 420px;
    margin-bottom: 20px;
    
}

body > header > h1 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
    padding: 10px;
    font-variant: small-caps;
    text-align: center;
    color: rgb(146, 146, 255);
    margin-left: 10px;
}

body > header > div > img {
    width: 300px;
}

main {
    margin: auto;
    padding: 10px;
}

main > h2 {
    text-align: center;
    margin: 10px;
    padding:10px;
}

main > p {
    line-height: 1.6em;
    text-align: justify;
    text-indent: 20px;
}

body > main > img {
    margin: 30px;
    height: 300px;
}

.img {

    background-color: white;
    background-image: url(../imagens/jonhy-body.png);
    background-position: center right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    width: 100vw;
    border: none;
    
}

.img2 {
    background-color: white;
    background-image: url(../imagens/Guimaraes-modas.jpg);
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    width: 100vw;
    border: none;

}

main > div {
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

main > div,h3,p,input {
    text-align: center;
    padding: 5px;
}

main > div > input {
    margin: auto;
    width: 180px;
    border-radius: 10px;
    background-color: #1e90ff;
    color: white;
}



section {
    background-color: rgba(0, 0, 255, 0.849);
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.666);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
    
}

section > h2 {
    margin: 10px;
}

section > h3,p {
    padding: 10px;
    text-align: center;
}

aside {
    background-color: rgba(255, 0, 0, 0.455);
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.457);
}

aside > ul > li {
    text-align: justify;
    margin: 5px;

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgba(255, 0, 0, 0.48);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

body > img {
    margin-left: 100px;
   
    height: 200px;
}

main > section > a > img {
    width: 350px;
}

footer {
    background-color: blue;
    color: white;
}

footer > p {
    padding: 10px;
    text-align: center;
}



@media  screen and (min-width:768px) and (max-width: 992px) {

    html {
        width: 100vw;
        height: 100vh;
    }
    
    body > header {
        width: 90vw;
    }

    main {
        margin: auto;
        width: 80vw;
        
    }

    main > p {
        font-size: 1.5em;
    }

    main > h2 {
        text-align: center;
    }

    .img2 {
        width: 90vw;
    }

    footer {
        
    }
    
}

@media  screen and (min-width: 993px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    main {
        border: 1px solid blue;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 600px;
    }

    header {
        width: 80vw;
    }

    .img,.img2 {
        width: 100vw;
    }



    

    footer {
        display: none;
    }
    
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    body {
        overflow-x: hidden;
    }
    main {
        border: 1px solid blue;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 600px;
    }

    header {
        width: 100vw;
    }

    .img {
        width: 500px;
        background-size: auto;
        background-position: center center;
    }

    .img2 {
        width: 100vw;
        background-position: center center;
    }

    
}

@media screen and (min-width: 1441px) {
    body {
        overflow-x: hidden;
        background-color: rgba(134, 134, 250, 0.121);
    }
    main {
        border: 1px solid rgb(56, 56, 253);
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        width: 900px;
    }

    main > header {
        width: 500px;
    }

    .img {
        width: 870px;
        background-size: auto;
        background-position: center center;
    }

    .img2 {
        width: 90vw;
        
    }

    body > img {
        margin-left: 1300px;
    }

    footer {
        width: 100vw;
    }
    
}
    


